body {
	background-image: url("images/image3.jpg");

}

h1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	width: 50%;
    color: rgb(0,255,255);
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
   
}
h2 {
    text-align: center;
    font-family: Courier, monospace;
}
#choices{
	font-family: "Fantasy", cursive;
	display: block;
	margin: auto;
	width: 50%;
	font-size: 17px;
	color: rgba(168, 8, 8, 0.884);
	padding-bottom: 15px;
}
#main{
	margin: auto;
	display: block;
	width: 50%;
	background-color: #EEEE;
	padding: 5px;
	word-spacing: none;
	letter-spacing: 5px;
}
img{
	border-radius: 15px 50px; 
	opacity: 0.5;
	border: 5px solid rgb(0,255,255);
	display: block;
    margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
    width: 25%;
	
}
img:hover {
  opacity: 1.0;
}
.bg-image {
	background-image: url("images/image3.jpg");
}
.topnav {
	margin: auto;
	width: 50%;
	position: static;
	display: block;
	overflow: hidden;
	background-color: #333;
}
.topnav a{
     float: left;
	 color: #f2f2f2;
	 text-align: center;
	 padding: 14px 16px;
	 text-decoration: none;
	 font-size: 17px;
}	
.topnav a:hover{
	background-color: #ddd;
	color: black
}

.topnav a.active{
	background-color: #blue;
	color: white;
}